html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;}
  
  .container {
    display: flex;
    border-radius: 7px;
  
  }
  .card {
    width: 200px;
    padding: 30px 40px 30px 30px;
    color: hsl(0, 0%, 95%);
  }
  .card > p {
    color : hsla(0, 0%, 100%, 0.75);
  } 
  .card1 {
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
  }
  .card1 > button {
    color: hsl(31, 77%, 52%);
  }
  
  .card2 {
   background: hsl(184, 100%, 22%);
  }
  .card2 > button {
    color : hsl(184, 100%, 22%);
  }
  
  .card3 {
    background: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
  }
  .card3 > button {
    color: hsl(179, 100%, 13%);
  }
  .card-btn {
    border: none;
    border-radius: 20px;
    margin: 40px 0 10px 0;
    padding: 10px;
    background: hsl(0, 0%, 95%);
    width: 120px;
    height: fit-content;
  }
  